body {
    width:800px;
    font-size: 0;
    margin-right:auto;
    margin-left: auto;
}
.top{
    width:50%;
    height: 200px;
    display:inline-block;
    font-size: 0;
}
.top1{
    background-color: green;
    border: 1px solid black;
}
.top2{
    background-color: blue;
    border: 1px solid black;
}
.bottom{
 width:33.33%;  
 display: inline-block;
 height:300px;
 font-size: 0;
}
.bottom1{
    background-color: gray;
    border: 1px solid black;
}
.bottom2{
    background-color: black;
    border: 1px solid black;
}
.bottom3{
    background-color: orange;
    border: 1px solid black;
}
