body {
  background-color: black;
  color: white;
}

main {
  padding-left: 90px;
  padding-right: 90px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.left{
  float: left;
  margin-right: 10px;
  Width:300px;
}
.right {
  width: 300px;
  float: right;
  margin-right: 10px;
}